<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MercadoLiebre</title>
</head>

<body>
    <header>

        <div id="logo-search-wrapper">
            <div id="logo">
                <a href="/">
                    <img src="/imgs/logo-mercado-liebre.svg">
                </a>
            </div>
            <input id="search-bar" type="text" placeholder="Barra de búsqueda"></input><i class="fas fa-search"></i>
            <p id="cuotas-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <div id="nav-wrapper">
            <nav id="site-navbar">
                <ul>
                    <li><a href=#>Ofertas</a></li>
                    <li><a href=#>Tiendas Oficiales</a></li>
                    <li><a href=#>Vender</a></li>
                    <li><a href=#>Ayuda</a></li>
                </ul>
            </nav>
            <nav id="login-navbar">
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href=#>Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <form method="GET" action="/" enctype="multipart/form-data">

            <div class="form-control">
                <label> Nombre de Usuari@:
                    <input type="text">
                </label>
            </div>

            <div class="form-control">
                <label> Contraseña:
                    <input type="password">
                </label>
            </div>
            <button type="submit">Enviar</button>

        </form>
    </main>

    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <p><b>Pagá con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <p><b>Envío gratis desde $ 2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </section>
        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>